[Unit]
Description=Bot Network Scanning
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/minitrue/bot_scan.py >> /home/pi/minitrue/tg_bot.log 2>&1
ExecStop=killall -9 bot_scan.py
User=pi

[Install]
WantedBy=multi-user.target