[Unit]
Description=Bot Network Scanning
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/local/bin/python3.7 /home/pi/bot_scan_networks/bot_scan.py >> /home/pi/bot_scan/tg_bot.log 2>&1
User=pi

[Install]
WantedBy=multi-user.target