# Obtener interfaces locales y sus MACs
netifaces

# nmap
python-nmap

# Libreria propia obtener el fabricante de una MAC
procamora-mac-vendor-lookup

# Libreria propia para gestion de sqlite
procamora-sqlite3

# Libreria propia para realizar ping
procamora-ping

# Telegram Bot
pyTelegramBotAPI

# Generacion de PDF
fpdf


# Tabla ascii para enviar por tg
terminaltables