beautifulsoup4
lxml
# Obtener interfaces locales y sus MACs
netifaces

# nmap
python-nmap

# Libreria propia obtener el fabricante de una MAC
#mac_vendor_lookup
#procamora-mac-vendor-lookup

requests

# Libreria propia para gestion de sqlite ping
procamora-utils

# Telegram Bot
pyTelegramBotAPI

# Generacion de PDF
fpdf

# OpenVas
python-gvm

# Tabla ascii para enviar por tg
terminaltables

# Customizar template latex
jinja2