# Obtener interfaces locales y sus MACs
netifaces

# Obtener el fabricante de una MAC
mac-vendor-lookup

# nmap
python-nmap

# Libreria propia para gestion de sqlite
procamora-sqlite3

# Logging con color
colorlog
Werkzeug
